@import '../../../styles/variables';

.HomePage{
  background-color: $base-color;
  font: 100%  $font-stack $primary-color;
}

.familyHomepageCard{
  background-color: $base-color;
  font: 100%  $font-stack $primary-color;

}