@import '../../../styles/variables';


.NewMemberForm{
  margin-top: 2em;
  padding-top: 5px;
  font: $font-avg $font-stack;
  background-color: #b8cccc;
  text-align: center;
  border-radius: 8px;
  Button{
    background-color: $base-color;
    font-size: $font-avg;
    border-radius: 8px;
    padding: 10px 10px;
    margin-bottom: 9px;
    width: 150px;
  }
}

Label{
  color: $fontColor;
}

.form-group::before,
.form-group::after {
   content: " ";
   display: table;
   margin: 2px;
}