@import '../../../styles/variables';

.ChoreForm{
  background-color: #b8cccc;
  padding-top: 15px;
  padding-bottom: 15px;
  .ChoreFormGrp{
    margin-top: 10px;
  }
}

Label{
  margin-top: 10px ;
  text-align: left;
  text-transform: capitalize
}
.ChoreFormBtn{
  background-color: $base-color;
  font-size: $font-avg;
  border-radius: 8px;
  padding: 14px 14px;
  margin-bottom: 9px;
  width: 150px;
}

.form-group::before,
.form-group::after {
   content: " ";
   display: table;
}