@import '../../../styles/variables';

.familyHomepageCard{
  font: $font-lg $font-stack;
  text-align: center;
  border-radius: 8px;
  .FamilyHomeButtons{
    background-color: $button1-color;
    font-size: $font-lg;
    border-radius: 8px;
    padding: 10px 10px;
    margin-bottom: 9px;
    width: 150px;
  }
}
.FamilyHomePageTitle{
  color : $fontColor;
  padding: 16px;
  font:  $font-stack;
  font-size: $font-lg;
  // border-bottom: 4mm ridge $base-color;
  // border-radius: 10px;
}