
// @import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');

$base-color: #FFFFFF;

$font-stack: 'Chilanka', cursive;
$font-avg: 16px;
$font-lg: 24px;
$primary-color: #EAEB21;
$button1-color: #FF006D;
$card-color: #ADFF02;
$fontColor: #1d201f;
$adultbackground: #df928e;

body {
  font: 100%  $font-stack ;
  color:  $base-color;
}