
// @import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');

$base-color: #8F00FF;

$font-stack: 'Chilanka', cursive;
$font-avg: 16px;
$font-lg: 24px;
$primary-color: #EAEB21;
$button1-color: #FF006D;
$card-color: #ADFF02;

body {
  font: 100%  $font-stack ;
  color:  $base-color;
}