 @import '../../../styles/variables';
 .topnav {
  background-color:$base-color;
  overflow: hidden;
  border-style: outset;
  border-color: yellow;
  border-width: thick;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color:  $fontColor;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 16px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color:  $fontColor;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: $fontColor;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}