@import '../../../styles/variables';

.AllAvailableChoreBtn{
  background-color: $button1-color;
  font-size: $font-avg;
  border-radius: 8px;
  padding: 10px 10px;
  margin-bottom: 9px;
  width: 150px;
}